/** @format */

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url(./assets/BG.svg);
  background-repeat: no-repeat;
  background-size: 100vw;
}
.main {
  width: 85vw;
  text-align: center;
  background: linear-gradient(#ffffff28, #4b60ae29);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: solid 0.1rem white;
  padding: 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6rem 0;
}
.mobView {
  display: none;
}
.mainTital {
  padding-top: 2rem;
  font-size: 3rem;
  font-weight: 800;
}
.mainCard {
  padding-bottom: 2rem;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 50rem 23.5rem 50rem;
  grid-template-rows: 50rem 50rem 50rem 50rem;
  gap: 2rem;
}
.cardAncher1 {
  margin: 0;
  padding: 0;
  width: 75.5rem;
  grid-column: 1 / span 2;
  position: relative;
}

.mainCard1::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.156);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transition: 0.5s;
}
.mainCard1:hover::before {
  width: 100%;
}

.mainCard1::after {
  content: "Click To View";
  text-decoration: none;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-size: 4rem;
  font-weight: 100;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.mainCard1:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.mainCard2 {
  height: 100%;
  position: relative;
}
.mainCard2::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.156);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transition: 0.5s;
}
.mainCard2:hover::before {
  width: 100%;
}
.mainCard2::after {
  content: "Click To View";
  text-decoration: none;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-size: 4rem;
  font-weight: 100;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.mainCard2:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.mainCard3 {
  width: 50rem;
  grid-column: 1 /2;
  color: black;
}

.cardAncher4 {
  width: 75.5rem;
  height: 50rem;
  grid-column: span 2 / -1;
  position: relative;
}
.mainCard4::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.156);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transition: 0.5s;
}
.mainCard4:hover::before {
  width: 100%;
}

.mainCard4::after {
  content: "Click To View";
  text-decoration: none;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-size: 4rem;
  font-weight: 100;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.mainCard4:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.cardAncher5 {
  position: relative;
  width: 75.5rem;
}

.mainCard5::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.156);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transition: 0.5s;
}

.mainCard5:hover::before {
  width: 100%;
}

.mainCard5::after {
  content: "Click To View";
  text-decoration: none;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-size: 4rem;
  font-weight: 100;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.mainCard5:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.mainCard6 {
  color: black;
}
.cardAncher7 {
  grid-column: 1/2;
  position: relative;
}
.mainCard7::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.156);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transition: 0.5s;
}

.mainCard7:hover::before {
  width: 100%;
}
.mainCard7::after {
  content: "Click To View";
  text-decoration: none;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-size: 4rem;
  font-weight: 100;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.mainCard7:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.cardAncher8 {
  position: relative;
  width: 75.5rem;
}

.mainCard8::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.156);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transition: 0.5s;
}

.mainCard8:hover::before {
  width: 100%;
}
.mainCard8::after {
  content: "Click To View";
  text-decoration: none;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-size: 4rem;
  font-weight: 100;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.mainCard8:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.mainCard3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardTital3 {
  text-align: left;
  font-size: 2rem;
}

.cardP3 {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
}

.mainCard6 {
  grid-column: 3 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardTital6 {
  text-align: right;
  font-size: 2rem;
  font-weight: 500;
}

.cardP6 {
  text-align: right;
  font-size: 1.5rem;
  position: relative;
}

.card3D {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.brain {
  position: relative;
  height: 50rem;
}

.brain::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.156);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transition: 0.5s;
}

.brain:hover::before {
  width: 100%;
}
.brain::after {
  content: "Click To View";
  text-decoration: none;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-size: 4rem;
  font-weight: 100;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.brain:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.icon {
  padding-left: 2rem;
  position: relative;
  height: 50rem;
  width: 60.7rem;
}
.icon::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.156);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transition: 0.5s;
}

.icon:hover::before {
  width: 100%;
}
.icon::after {
  content: "Click To View";
  text-decoration: none;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-size: 4rem;
  font-weight: 100;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.icon:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%);
}

@media (min-width: 1200px) and (max-width: 1500px) {
  body {
    background-size: auto;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mainCard {
    grid-template-columns: 40rem 18rem 40rem;
    grid-template-rows: 40rem 40rem 40rem 40rem;
  }
  .mobView {
    display: none;
  }

  .car {
    height: 40rem;
  }
  .cardAncher1 {
    height: 40rem;
    width: 60.4rem;
  }
  .secTech {
    height: 40rem;
  }
  .cardAncher2 {
    height: 40rem;
    width: 40rem;
  }
  .mainCard3 {
    height: 40rem;
    width: 40rem;
  }
  .motion {
    height: 40rem;
    width: 60.4rem;
  }
  .cardAncher4 {
    height: 40rem;
    width: 60.4rem;
  }
  .jobs {
    height: 40rem;
  }
  .cardAncher5 {
    height: 40rem;
    width: 60.4rem;
  }
  .mainCard6 {
    height: 40rem;
    width: 40rem;
  }
  .jbl {
    height: 40rem;
  }
  .cardAncher7 {
    height: 40rem;
    width: 40rem;
  }
  .crockStory {
    height: 40rem;
  }
  .cardAncher8 {
    height: 40rem;
    width: 60.4rem;
  }
  .brain {
    position: relative;
    height: 40rem;
    width: 50.24rem;
  }
  .brain3d {
    height: 40rem;
    width: 50.24rem;
  }
  .icon {
    position: relative;
    height: 40rem;
    width: 50.24rem;
  }
  .icon3d {
    height: 40rem;
    width: 50.24rem;
  }
  .icon:hover::before {
    width: 50.24rem;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  body {
    background-size: auto;
    background-repeat: repeat;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mainCard {
    grid-template-columns: 35rem 16rem 35rem;
    grid-template-rows: 35rem 35rem 35rem 35rem;
    gap: 2rem;
  }
  .mobView {
    display: none;
  }

  .car {
    height: 35rem;
  }
  .cardAncher1 {
    height: 35rem;
    width: 52.8rem;
  }
  .secTech {
    height: 35rem;
  }
  .cardAncher2 {
    height: 35rem;
    width: 35rem;
  }
  .mainCard3 {
    height: 35rem;
    width: 35rem;
  }
  .motion {
    height: 35rem;
    width: 52.8rem;
  }
  .cardAncher4 {
    height: 35rem;
    width: 52.8rem;
  }
  .jobs {
    height: 35rem;
  }
  .cardAncher5 {
    height: 35rem;
    width: 52.8rem;
  }
  .mainCard6 {
    height: 35rem;
    width: 35rem;
  }
  .jbl {
    height: 35rem;
  }
  .cardAncher7 {
    height: 35rem;
    width: 35rem;
  }
  .crockStory {
    height: 35rem;
  }
  .cardAncher8 {
    height: 35rem;
    width: 52.8rem;
  }
  .brain {
    position: relative;
    height: 35rem;
    width: 43.96rem;
  }
  .brain3d {
    height: 35rem;
    width: 43.96rem;
  }
  .icon {
    position: relative;
    height: 35rem;
    width: 43.96rem;
  }
  .icon3d {
    height: 35rem;
    width: 43.96rem;
  }
  .icon:hover::before {
    width: 43.96rem;
  }
}

@media (min-width: 200px) and (max-width: 500px) {
  body {
    box-sizing: border-box;
    background-repeat: repeat;
  }
  .main {
    width: 70vw;
    margin: 2rem 0;
  }
  .mainTital {
    padding: 0;
  }
  .mainCard {
    display: none;
  }
  .mobView {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin: 1rem 0;
  }
  .carImg {
    width: 80vw;
  }
  .secTech1 {
    width: 80vw;
  }
  .threeDcont {
    display: none;
  }
  .card3D {
    display: none;
  }
}
