/** @format */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

.about_hero {
  background-color: #ebebeb;
  padding: 4rem 6rem;
}
.hero_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  color: #565656;
}
.abtCont {
  width: 80rem;
}

.welcome {
  font-size: 1.5rem;
  font-size: 100;
}
.para {
  font-size: 1.1rem;
  font-size: 200;
}
.bold {
  font-weight: 700;
}

.connectCont {
  font-size: 1.1rem;
  font-weight: 300;
  color: #565656;
}
.contcatCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contactSVG {
  padding-right: 2rem;
}
.emailCall {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.email {
  font-size: 1rem;
  font-weight: 300;
}

.call {
  padding-left: 1.5rem;
  font-size: 1rem;
  font-weight: 300;
}

.dnldSVG {
  height: 2rem;
}

.dnldbtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  color: #565656;
  border: solid 0.09rem;
  padding: 1.2rem;
}

.dnldSVG {
  padding-right: 1rem;
}

/* experience */

.experience {
  background-color: #272727;
  margin: 0;
  padding: 2rem 2rem;
}
.exCont {
  padding: 1rem 18vw;
  color: #e0e0e0;
  text-align: center;
  font-size: 1.2rem;
}

.exCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #e0e0e0;
  padding: 2rem 10rem;
}
.card1 {
  background-color: #2e2e2e;
  width: 21rem;
  height: 31rem;
  position: relative;
  margin: 1rem;
}
.innercard1 {
  background-image: url(./Assets/Patern\ 1.svg);
  background-color: #2e2e2e;
  width: 80%;
  height: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 0.1rem #3e3e3e;
  padding: 1rem;
  line-height: 3rem;
}
.cardtitle1 {
  font-size: 1rem;
}
.subtitle1 {
  height: 3rem;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.6rem;
}
.cardCont1 {
  height: 8rem;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

.years1 {
  margin-top: 1rem;
  font-size: 1rem;
  border: solid 0.1rem #3e3e3e;
  padding: 1rem;
  background-color: #2e2e2e;
}
.card2 {
  background-color: #2e2e2e;
  width: 21rem;
  height: 31rem;
  position: relative;
  margin: 1rem;
}
.innercard2 {
  background-image: url(./Assets/Patern\ 2.svg);
  background-color: #2e2e2e;
  width: 80%;
  height: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 0.1rem #3e3e3e;
  padding: 1rem;
  line-height: 3rem;
}

.cardtitle2 {
  font-size: 1rem;
}
.subtitle2 {
  height: 3rem;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.6rem;
}
.cardCont2 {
  height: 8rem;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

.years2 {
  margin-top: 1rem;
  font-size: 1rem;
  border: solid 0.1rem #3e3e3e;
  padding: 1rem;
  background-color: #2e2e2e;
}

.card3 {
  background-color: #2e2e2e;
  width: 21rem;
  height: 31rem;
  position: relative;
  margin: 1rem;
}
.innercard3 {
  background-image: url(./Assets/Patrn\ 3.svg);
  background-color: #2e2e2e;
  width: 80%;
  height: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 0.1rem #3e3e3e;
  padding: 1rem;
  line-height: 3rem;
}
.cardtitle3 {
  font-size: 1rem;
}
.subtitle3 {
  height: 3rem;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.6rem;
}
.cardCont3 {
  height: 8rem;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

.years3 {
  margin-top: 1rem;
  font-size: 1rem;
  border: solid 0.1rem #3e3e3e;
  padding: 1rem;
  background-color: #2e2e2e;
}

.experties {
  padding: 5rem 12rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.expertCont {
  color: #565656;
  width: 30vw;
}

.expertTitle {
  font-size: 2rem;
  font-weight: 300;
}
.expertSubTitle {
  font-size: 1rem;
  font-weight: 300;
}
.logoGrid {
  display: grid;
  grid-template-rows: 10rem 10rem 10rem;
  grid-template-columns: 10rem 10rem 10rem 10rem;
  grid-gap: 1rem;
}

.logo1 {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo2 {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo3 {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo4 {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo5 {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo6 {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo7 {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo8 {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo9 {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo10 {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo11 {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo12 {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2e2e2e;
  font-size: 1rem;
  padding-left: 3rem;
  margin: 0;
  position: relative;
}
.logo12 p {
  margin: 0;
  padding: 0.3rem 0;
}
.pLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.certificates {
  background-color: #373737;
  padding: 5rem 15rem;
  position: relative;
  height: 90rem;
}
.certificates1 {
  display: none;
}
.certiCard {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 70vw;
  background-color: #373737;
  box-shadow: 0rem 0rem 5rem #272727;
  display: grid;
  grid-template-rows: 28rem 46rem;
  grid-template-columns: 36rem 36rem;
  gap: 2rem;
  justify-content: center;
  padding: 3rem 3rem;
}
.outline {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 2rem;
  color: #d9d9d9;
  padding: 2rem;
  border: solid 0.1rem #424242;
}

.myImg {
  padding: 5rem 10rem;
  color: #565656;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.myhead {
  font-size: 4rem;
}
.myP {
  font-size: 1.2rem;
  font-weight: 200;
}

.footer {
  padding: 0 15rem 3rem;
}

@media (min-width: 1000px) and (max-width: 1500px) {
  .abtCont {
    width: 25rem;
  }
  .abtModel {
    padding-left: 2rem;
    width: 40rem;
    height: 60rem;
  }
  .card1 {
    height: 33rem;
    width: 24rem;
  }
  .card2 {
    height: 33rem;
    width: 24rem;
  }
  .card3 {
    height: 33rem;
    width: 24rem;
  }
  .cardCont1 {
    height: 10rem;
  }
  .cardCont2 {
    height: 10rem;
  }
  .cardCont3 {
    height: 10rem;
  }
  .years1 {
    margin-top: 3rem;
  }
  .years2 {
    margin-top: 3rem;
  }
  .years3 {
    margin-top: 3rem;
  }
  .certificates {
    height: 65rem;
  }
  .certiCard {
    width: 85vw;
  }
  .logoGrid {
    display: grid;
    grid-template-rows: 7rem 7rem 7rem;
    grid-template-columns: 7rem 7rem 7rem 7rem;
    grid-gap: 1rem;
  }
  .logo12 p {
    margin: 0;
    padding: 0.1rem 0;
  }
  .certiCard {
    grid-template-rows: 22rem 37rem;
    grid-template-columns: 30rem 30rem;
  }
  .cerf {
    width: 26rem;
  }
  .cerf3 {
    width: 24rem;
  }
  .img {
    width: 30rem;
  }
}

@media (min-width: 1500px) and (max-width: 1700px) {
  .certificates {
    height: 80rem;
  }
  .certiCard {
    width: 80vw;
  }
}

@media (min-width: 200px) and (max-width: 500px) {
  body {
    box-sizing: border-box;
    width: 100vw;
  }
  .abtModel {
    display: none;
  }
  .about_hero {
    padding: 1rem 3rem;
  }
  .contcatCont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  .contactIcon {
    margin-top: 2rem;
  }
  .emailCall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 2rem;
  }
  .email p {
    margin: 0.2;
  }
  .call {
    padding: 0;
  }
  .call p {
    margin: 0;
  }
  .cvBtn {
    margin-top: 2rem;
    padding-bottom: 5rem;
  }

  /* .experience */

  .experience {
    padding-top: 4rem;
    padding: 2rem 3rem;
  }
  .exCont {
    padding: 0;
    text-align: start;
  }
  .exCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #e0e0e0;
    padding: 2rem 3rem;
  }

  /* experties */
  .experties {
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .expertCont {
    width: 80vw;
    padding: 0 3rem;
  }
  .logoGrid {
    display: grid;
    grid-template-rows: 6rem 6rem 6rem 6rem;
    grid-template-columns: 6rem 6rem 6rem;
    grid-gap: 1rem;
  }
  .logo1 img {
    width: 2rem;
  }
  .logo2 img {
    width: 2.6rem;
  }
  .logo3 img {
    width: 2.7rem;
  }
  .logo4 img {
    width: 2.6rem;
  }
  .logo5 img {
    width: 2.6rem;
  }
  .logo6 img {
    width: 2.6rem;
  }
  .logo7 img {
    width: 2.6rem;
  }
  .logo8 img {
    width: 2.3rem;
  }
  .logo9 img {
    width: 2.3rem;
  }
  .logo10 img {
    width: 2.3rem;
  }
  .logo11 img {
    width: 2.6rem;
  }
  .logo12 p {
    padding: 0;
  }

  /* cetificates */
  .certificates {
    display: none;
  }
  .certificates1 {
    padding: 15rem auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #373737;
    color: white;
  }
  .outline1 {
    width: 75vw;
    text-align: center;
    border: solid 0.1rem rgb(91, 91, 91);
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0px 0px 20px #03030386;
    font-size: 1rem;
  }
  .outline1 img {
    width: 70vw;
  }
  .myImg {
    padding: 5rem 3rem;
    color: #565656;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .myImg div img {
    width: 20rem;
  }
  .footer {
    padding: 0;
  }
}
